.top-container{
    position: relative;
    /* height: 100vh; */
}
.topheader-wrapper{
    padding: 60px;
    width: 1000px;
    margin-top: 40px;
}
.topheader-wrapper h1{
    font-size: 60px;
    font-weight: 500;
    color: #262626;
}
.netflix-text{
    color: rgb(255, 49, 49)
}
.airbnb-image-wrapper{
    /* width: 100%;
    height: 100vh; */
    padding: 10rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.airbnb-image-wrapper img{
    background-size: contain;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.airbnb-image{
    margin-top: 100px;
}
@media screen and (max-width: 768px){
    .airbnb-image-wrapper{
        padding: 5rem;
    }
    .topheader-wrapper{
        padding: 30px;
        width: 600px;
    }
}

@media screen and (max-width: 460px){
    .airbnb-image-wrapper{
        padding: 1rem;
    }
    .topheader-wrapper{
        padding: 10px;
        width: 350px;
    }
    .topheader-wrapper h1{
        font-size: 40px;
        font-weight: 500;
    }
}

/* Team Section */

.team {
    padding: 8rem calc((100vw - 1100px) / 2);
}

.team__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 350px);
}

.team__card {
    margin: 1rem;
    border-radius: 10px;
    position: relative;
    box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}

.team__text {
    padding: 1rem;
}

.text__text h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.team__desc {
    font-size: clamp(1rem, 3vw, 1.3rem);
    line-height: 1.4;
    margin-top: 10px;
}

.team__card p{
    position: absolute;
    bottom: 30px;
    color: #fff;
    left: 25px;
    font-size: 3rem;
}

.team__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.text__text:nth-child(1) {
    grid-row: 1/3;
    grid-column: 2/3;
}

.team__text:nth-child(2) {
    grid-row: 5/6;
    grid-column: 1/2;
}

.team__card:nth-child(3) {
    grid-row: 1/3;
    grid-column: 1/2;
}

.team__card:nth-child(4){
    grid-row: 2/4;
    grid-column: 2/3;
}

.team__card:nth-child(5) {
    grid-row: 3/5;
    grid-column: 1/2;
}

.team__card:nth-child(6) {
    grid-row: 4/6;
    grid-column: 2/3;
}

@media screen and (max-width: 768px) {
    .team__wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .text__text:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    .team__text:nth-child(2) {
        grid-row: 6/7;
        grid-column: 1/2;
    }
    
    .team__card:nth-child(3) {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    
    .team__card:nth-child(4){
        grid-row: 4/5;
        grid-column: 1/2;
    }
    
    .team__card:nth-child(5) {
        grid-row: 5/6;
        grid-column: 1/2;
    }
    
    .team__card:nth-child(6) {
        grid-row: 2/3;
        grid-column: 1/2;
    }
}
