section{
    background-color: rgb(255, 255, 255);
}

header{
    /* position: absolute; */
    /* bottom: -2px; */
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    padding-left: 40;
    
}



ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}

li{
    list-style: none;
    padding-top: 50px;
    margin-right: 20px;
    justify-content: space-between;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    padding-right: 40px;
}

.logo{
    font-weight: bold;
}

@media screen and (max-width: 768px){
    header{
        padding: 40px;
        width: 100%;
        /* display: flex; */
        /* flex-direction: row; */
    }
    a{
        font-size: 1.5rem;
    }
    .talk{
        display: none;
    }
}

@media screen and (max-width:468px){
    header{
        display: flex;
        flex-direction: row;
    }
    .logo{
        font-size: 1rem;
    }
}