* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  /* background-color: rgb(255, 255, 255); */
}

/* .font-face-gm {
    font-family: "Kamerik105Cyrillic-Bold";
   }

  .font-face-light{
    font-family: "Kamerik105Cyrillic-Light";
  }
  
  .font-face-book{
    font-family: "Kamerik105Cyrillic-Book";
  } */
