/* @font-face {
    font-family: "Kamerik105Cyrillic-Bold";
    src: local("Kamerik105Cyrillic-Bold"),
     url("./fonts/Kamerik105Cyrillic-Bold.ttf") format("truetype");
    font-weight: bold;
    
    font-family: "Kamerik105Cyrillic-Light";
    src: local("Kamerik105Cyrillic-Light"),
     url("./fonts/Kamerik105Cyrillic-Light.ttf") format("truetype");
    font-weight: 500;
    
    font-family: "Kamerik105Cyrillic-Book";
    src: local("Kamerik105Cyrillic-Book"),
     url("./fonts/Kamerik105Cyrillic-Book.ttf") format("truetype");
    font-weight: 600;
    } */